
@{
    ViewBag.Title = "aboutme";
}


<h2>MY CV</h2>

<br />
<br />

<div class="col-lg-6 col-md-12">
    <div class="card-body">
        <div class="h4 mt-0 title">Basic Information</div>
        <div class="row">
            <div class="col-sm-4"><strong class="text-uppercase">Name:</strong></div>
            <div class="col-sm-8">Ritu Basak</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
            <div class="col-sm-8">ritubsk@gmail.com</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
            <div class="col-sm-8">22</div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Mobile no:</strong></div>
            <div class="col-sm-8">01909937209</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">University</strong></div>
            <div class="col-sm-8">American International Univeraity-Bangladesh</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Department</strong></div>
            <div class="col-sm-8">Computer Science and Engineering</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Semester</strong></div>
            <div class="col-sm-8">11th</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">CGPA:</strong></div>
            <div class="col-sm-8">3.88</div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Projects</strong></div>
            <div class="col-sm-8">
                <div class="col-sm-8">University Management System</div> <div class="col-sm-8">Online Education Platform</div>
                <div class="col-sm-8">Career Opportunity</div>
                <div class="col-sm-8">Bank Management System</div>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
        <div class="col-sm-8">Bashundhara R/A</div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Hobby</strong></div>
        <div class="col-sm-8">Photography</div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
        <div class="col-sm-8">Bangla, English</div>
    </div>
</div>
                </div>



