@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<p>
    Welcome to our website. This is a fund raising and donating website.
    Here anyone can do registration and login. Also can donate money and
    can raise money for poor people.Standing by what we believe when we
    need to challenge accepted wisdom. Trusting in our ability. Doing the
    right thing, however hard. Questioning actions not consistent with our
    values.Our trained welfare advisors and volunteers work with each person
    to find out exactly what they need. Once we’ve assessed what is required,
    we’ll help the individual or family access the support they need. This 
    may just be someone to listen to them, but, more often than not, we 
    access financial assistance from statutory and military benevolent 
    funds or foundations that we work with. In addition, we signpost to
    our other charity partners who can give much needed assistance to 
    help people get their lives back on track.Thank you.
</p>
