@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bashundhara R/A<br />
    Block B, Road 8<br />
    <abbr title="Phone">Phone</abbr>
    01873638737
</address>

<address>
    <strong>Facebook:</strong><a href:"www.facebook.com/fund">www.facebook.com/fund</a><br />
    <strong>Email:</strong> <a href="ritubsk@gmail.com">ritubsk@gmail.com</a>
</address>