@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">

    <h2><strong>Fund Raising and Donating System</strong></h2>
    <p class="lead">
        Welcome to our website. This is a fund raising and donating website.
        Here anyone can do registration and login. Also can donate money and
        can raise money for poor people.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            An admin is responsible for various administrative duties
            surrounding a project. These duties may include documentation
            and using time management skills to help the team stay on track.
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>
            Project management is a complex field, so if you're not sure
            where to start, here are the top project management skills
            employers are looking for today.
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donor and Raiser</h2>
        <p>
            Donor can donate money as he/she want to donate and on the
            other side, Raiser can take money for the poor people.
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>